In [37]:
import pandas as pd

In [38]:
# assign csv file to a dataframe
df = pd.read_csv('addresses.csv')

In [45]:
# display the first 5 rows of the dataframe
df.head()

                postal_address         city
0        PRIVATE BAG K9 KASANE       KASANE
1          P O BOX 2029 SEROWE       SEROWE
2           P O BOX 912 TONOTA       TONOTA
3     P O BOX 1837 FRANCISTOWN  FRANCISTOWN
4  PRIVATE BAG 127 LOS ANGELES  LOS ANGELES

In [46]:
# copy the postal_address column to a new column named city
# you will be modifying the city column to remove the unwanted strings, thus leaving only the city
df['city'] = df['postal_address']

In [48]:
# use a regular expression (regex) to find a string and replace the found string

# modify the city column to replace the PRIVATE BAG string
# at the beginning of the value and a string with 1 or more
# characters after PRIVATE BAG with an empty string

df['city'].replace(to_replace=r'^PRIVATE BAG \w+ ', value='', regex=True, inplace=True)

In [49]:
# confirm the replacement worked
df

                postal_address                      city
0        PRIVATE BAG K9 KASANE                    KASANE
1          P O BOX 2029 SEROWE       P O BOX 2029 SEROWE
2           P O BOX 912 TONOTA        P O BOX 912 TONOTA
3     P O BOX 1837 FRANCISTOWN  P O BOX 1837 FRANCISTOWN
4  PRIVATE BAG 127 LOS ANGELES               LOS ANGELES
5          P O BOX 20 GABORONE       P O BOX 20 GABORONE

# Now do the same for the addresses with a P O BOX